---
http:
  routers:
    grafana:
      rule: "Host(`grafana.{{ host_local }}`)"
      service: grafana-service
      priority: 1000
      entryPoints:
        - web
    pihole:
      rule: "Host(`pihole.{{ host_local }}`)"
      service: pihole-service
      middlewares:
        - pihole-admin-prefix
      priority: 1000
      entryPoints:
        - web
    plex:
      rule: "Host(`plex.{{ host_local }}`)"
      service: plex-service
      priority: 1000
      entryPoints:
        - web

  middlewares:
    pihole-admin-prefix:
      addPrefix:
        prefix: /admin

  services:
    grafana-service:
      loadBalancer:
        servers:
          - url: "http://{{ groups['monitoring'] | first }}:3000"
    pihole-service:
      loadBalancer:
        servers:
          - url: "http://{{ groups['home'] | first }}:{{ pihole_web_port }}"
    plex-service:
      loadBalancer:
        servers:
          - url: "http://{{ groups['home'] | first }}:32400"
