---
log:
  level: DEBUG

api:
  dashboard: true

entryPoints:
  metrics:
    address: :8082
  web:
    address: :80
{% if ssl_enabled %}
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: myresolver
        domains:
          - main: {{ duckdns_domain }}
            sans:
              - "*.{{ duckdns_domain }}"

certificatesResolvers:
  myresolver:
    acme:
      email: "{{ email }}"
      storage: /letsencrypt/acme.json
      # caserver: https://acme-staging-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: duckdns
        disablePropagationCheck: true
        delayBeforeCheck: 10
        resolvers:
          - "{{ lan_hosts.router }}:53"
          - "1.1.1.1:53"
          - "1.0.0.1:53"
{% endif %}

providers:
  docker:
    exposedByDefault: false
    endpoint: "unix:///var/run/docker.sock"
    network: "{{ traefik_internal_network_name }}"
  file:
    filename: /configurations/dynamic.yml

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    entryPoint: metrics
